<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daddos do banco</title>
</head>
<body>
    <h1>Dados dos Funcionários</h1>
    
    <table>
        <tr>
            <th>Nome do Empregado</th>
            <th>Título</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.Employee_Name }}</td>
            <td>{{ employee.Title }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br><br>
    
    
        
    <a href="/">Voltar para a Página Inicial</a>
    <br><br>
    <a href="/add_employee">Adicionar Novo Funcionário</a>
</body>
</html>
